<a href="{{ path('show_article') }}">Tous les articles</a>
<a href="{{ path('create_article') }}">Créer</a>

<a href="{{ path('show_auteur') }}">Tous les auteurs</a>
<a href="{{ path('create_auteur') }}">Créer</a>